/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-snack-bar-container {
  &.error {
    background-color: red;
    color: white;
  }

  &.success {
    background-color: green;
  }
}